<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
  th {
    text-align: left;
  }
</style>

<div class="container">

  <p> This is the gets method </p>
  <form name="form_name" action="/cool_url" method="get">
    <label for="name">Name</label>
    <input type="text" name="name"/>
    <input type="submit" value="submit"/>
  </form>
    
  <p> This is the post method </p>  
  <form name="form_email" action="/cool_url" method="post">
    <label for="email">Email</label>
    <input type="text" name="email"/>
    <input type="submit" value="email"/>
  </form>  <br>

  <span>Textarea Original</span><br>
  <form name="text" action="/cool_url" method="post">
    <textarea cols="40" rows="5" name="text"></textarea> 
    <!-- put open and closing textarea next to each other to avoid from starting in the middle of the text box -->
    <br>
    <input type="submit" value="post garble"/>
  </form>
  <br>

  <span>Extra Textarea</span><br>
  <form name="test" action="/cool_url" method="post">
    <textarea cols="40" rows="5" name="texttest"></textarea>
    <br>
    <input type="submit" value="post more garble"/>
  </form>
  <br><br>

  <span>Textarea with new form element names</span><br>
  <form name="test" action="/cool_url" method="post">
    <textarea cols="40" rows="5" name="post[description]"></textarea>
    <br>
    <input type="submit" value="test"/>
  </form>
  <br><br>


  <div>List of Food</div>
  <form name="food_list" action="/cool_url" method="post">
    <input type="radio" name="food" value="beef">Beef<br>
    <input type="radio" name="food" value="spinach">Spinach<br>
    <input type="radio" name="food" value="almond">Almonds<br>
    <input type="radio" name="food" value="bananas">Bananas<br>
    <input type="submit" value="Pick One!"/>
  </form>
 <br><br>

  <span>Things to do</span>
  <form name="Todolist" action="/cool_url" method="post">
    <input type="checkbox" name="item1" value="review">Review the weeks' lessons<br>
    <input type="checkbox" name="item2" value="groceries">Do groceries for the week<br>
    <input type="checkbox" name="item3" value="laundry">Wash smelly laundry<br>
    <input type="submit" value="Tick them off">
  </form> 


</div>

